*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;

}
/* inizio menu */
nav .menu-top{
  background-color: white;
  text-align: left;
}
nav .menu-top h1{
  color: #29B1DD;
  padding: 20px;
  font-size: 40px;
}
nav .menu-bottom{
  background-color: #29B1DD;
  text-align: center;
  padding: 20px;
}
nav .menu-bottom label{
  color: white;
  font-size: 25px;
}
/* fine menu */
/* inizio main */
#icons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px;
}
#icons div{
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  display: none;
}
#icons div.active{
  display: block;
}
#icons div p{
  color: black;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
